.hero {
   width: 100vw;
   height: 100vh;
   position: relative;
}

.swiper {
   display: flex;
   height: 100%;
}
.slide {
   width: 100%;
   height: 100%;
   position: relative;
}
.image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.text {
   position: absolute;
   bottom: 5%;
   left: 2%;
   height: max-content;
   color: #fff;
   font-size: var(--font40);
   z-index: 1;
   max-width: 50vw;
   @media (max-width: 900px) {
      font-size: var(--font28);
   }
   @media (max-width: 768px) {
      max-width: 80vw;
      bottom: 10%;
   }
   @media (max-width: 480px) {
      max-width: 95vw;
   }
}
.shadow {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 20%;
   background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.5) 46.67%, rgba(0, 0, 0, 0.5) 74.17%, hsla(0, 0%, 4%, 0.5));
}
.paginationContainer {
   position: absolute;
   bottom: 5vw;
   right: 5vw;
   height: 5px;
   z-index: 2;
   border-radius: 15px;
   overflow: hidden;
   @media (max-width: 768px) {
      right: 10px;
      left: 10px;
   }
}
.pagination {
   height: 100%;
   width: 33.333vw;
   display: flex;
   justify-content: center;
   @media (max-width: 768px) {
      width: 100vw;
   }
}
.bullet {
   flex: 1;
   height: auto;
   background: #fff;
   border-radius: 0;
   opacity: 0.7;
   transition: opacity 0.3s;
   cursor: pointer;
}
.bulletActive {
   opacity: 1;
   background: #000000;
}
