.advantages {
   margin-top: 8.33vw;
}
.container {
   display: flex;
   flex-direction: column;
   gap: 4vw;
   align-items: center;
}
.image {
   width: 100%;
   height: auto;
   aspect-ratio: 8/2;
}
