.wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3) 46.67%, rgba(255, 255, 255, 0.3) 74.17%, hsla(0, 0%, 100%, 0));
   color: #000000;
   transition: 0.5s ease-in-out;
   &_scrolled {
      background: #fff;
      padding-bottom: 10px;
   }
}

.logos {
   display: flex;
   justify-content: space-between;
}
.logo {
   max-width: 13.89vw;
   width: 100%;
   height: auto;
   aspect-ratio: 5/2;
   object-fit: contain;
   @media (max-width: 480px) {
      max-width: 20vw;
   }
}

.tel {
   font-size: var(--font20);
   font-weight: 600;
   display: block;
   display: flex;
   justify-content: flex-end;
   @media (max-width: 900px) {
      font-size: var(--font16);
   }
   @media (max-width: 480px) {
      font-size: var(--font14);
   }
}
