.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3) 46.67%, rgba(255, 255, 255, 0.3) 74.17%, hsla(0, 0%, 100%, 0));
   color: #000000;
}
.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 5vw;
}
.navlist {
   display: flex;
   gap: 2vw;
}
.tel {
   font-size: var(--font20);
   font-weight: 600;
}
