.formSection {
   margin-top: 8.33vw;
   @media (max-width: 767px) {
      margin-top: 0;
   }
}
.container {
   display: flex;
   //gap: 4vw;
   margin-top: 30px;
   @media (max-width: 650px) {
      flex-direction: column;
   }
}
.title {
   font-weight: 500;
   font-size: var(--font30);
   letter-spacing: 0.2px;
   line-height: 120%;
}
.left {
   flex: 0 1 30%;
   background: #000;
   padding: 20px;
   background: #afafaf;
   color: #000000;
   @media (max-width: 900px) {
      flex: 0 1 40%;
      padding: 10px;
   }
}
.errorSpan {
   display: inline-block;
   max-width: 150px;
   width: 100%;
}
.right {
   flex: 0 1 70%;
   gap: 1vw 2vw;
   color: red;
   padding: 3vw;
   background: #afafaf;
   position: relative;
   @media (max-width: 900px) {
      flex: 0 1 60%;
      padding: 20px 20px 0 0;
   }
   @media (max-width: 650px) {
      padding: 10px;
      min-height: 200px;
   }
   &__success {
      color: #000;
      font-size: var(--font16);
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &__container {
      flex: 0 1 70%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "name tel" "text text";
      gap: 1vw 2vw;
      @media (max-width: 900px) {
         display: flex;
         flex-direction: column;
         gap: 20px;
      }
   }
   &__container_active {
      display: none;
   }
}
.input {
   border-bottom: 1px solid #636363;
   height: 2vw;
   display: flex;
   //align-items: center;
   //justify-content: space-between;
   padding: 0 10px;
   font-size: var(--font16);
   @media (max-width: 650px) {
      height: 40px;
   }
   &__name {
      grid-area: name;
   }
   &__tel {
      grid-area: tel;
      background: #afafaf;
   }
   &__textfield {
      grid-area: text;
      height: 10vw;
      padding: 10px;
      border: 1px solid #636363;
      @media (max-width: 650px) {
         height: 100px;
      }
   }
   & span {
      font-size: var(--font12);
      @media (max-width: 1100px) {
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
      }
   }
}
.field {
   height: 100%;
   width: 100%;
   resize: none;
   font-size: var(--font16);
   background: transparent;
}
.btn {
   background: #000;
   border: 1px solid #000;
   height: 2.5vw;
   color: #fff;
   font-size: var(--font16);
   @media (max-width: 900px) {
      height: 40px;
   }
   @media (min-width: 768px) {
      transition: 0.3s;
      &:hover {
         background: #afafaf;
         color: #000;
      }
   }
}
.info {
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   gap: 0.8vw;
   justify-content: center;
   color: #fff;
   font-size: var(--font14);
   @media (max-width: 900px) {
      margin-top: 20px;
   }
   @media (max-width: 650px) {
      gap: 10px;
   }
   &__item {
      display: flex;
      gap: 1.5vw;
   }
}
.innerTitle {
   font-size: var(--font20);
   font-weight: 500;
   margin-top: 20px;
   @media (max-width: 900px) {
      margin-top: 10px;
   }
}
.innerP {
   font-size: var(--font14);
   font-weight: 300;
   margin-top: 30px;
   line-height: 130%;
   @media (max-width: 900px) {
      margin-top: 15px;
   }
}
.social {
   &__list {
      margin-top: 30px;
      display: flex;
      gap: 1vw;
      @media (max-width: 650px) {
         gap: 15px;
      }
      & a {
         color: #000;
      }
   }
   &__icon {
      border: 1px solid #000;
      border-radius: 50%;
      padding: 5px;
      font-size: var(--font30);
   }
}
.loaderContainer {
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   visibility: hidden;
}

.loader {
   width: 48px;
   height: 48px;
   border-radius: 50%;
   display: inline-block;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
   &__active {
      visibility: visible;
   }
}
.loader::after {
   content: "";
   box-sizing: border-box;
   position: absolute;
   left: 0;
   top: 0;
   width: 48px;
   height: 48px;
   border-radius: 50%;
   border-left: 4px solid #6d6d6d;
   border-bottom: 4px solid transparent;
   animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
